In [2]:
#create a series form a list , numpy and dict

import numpy as np
import pandas as pd
a_list = list("abcd")
numpy = np.arange(1,10)
dictionary  = {"a":0, "b":1}


series1  = pd.Series(a_list)
series2 = pd.Series(numpy)
series3 = pd.Series(dictionary)

In [9]:
# combine series
com = pd.DataFrame(series1,series2).reset_index()
com1 = pd.DataFrame({"col1":series1,"col2":series2})
com1

  col1  col2
0    a     1
1    b     2
2    c     3
3    d     4
4  NaN     5
5  NaN     6
6  NaN     7
7  NaN     8
8  NaN     9

In [14]:
# axis  = 1 vs axis = 0 : 1 for column 
ser  = pd.concat([series1,series2], axis =  0)
ser
# axis 0 add vertically axis = 1 horizontally

0    a
1    b
2    c
3    d
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: object

In [16]:
# get not present in other 
ser1 = pd.Series([1,2,3,4,6])
ser2 = pd.Series([3,4,5,6])

ser1[~ser1.isin(ser2)].values
# ~ bitwise not n

array([1, 2])

In [1]:
# describe
ser3 = pd.Series([1,23,4,43,3])
ser3.describe()

# frequency 

ser3.value_counts()

NameError: name 'pd' is not defined